* 
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.adPreviewPannel
{
    background-color: #013372;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    margin-top: 0px;
    width: 300px;
    height: 253px;
    text-align: left;
}

.adPreviewPannel p
{
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.likes
{
    display: flex;
    justify-content: flex-end;
}

.likes img
{
    height: 25px;
}

.likes p
{
    font-size: 25px;
    margin-left: 10px;
}

.actions
{
    display: flex;    
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.actions button
{
    display: flex;
    background-color: #00aeef;
    color: #000;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}

.actions button img
{
    align-self: center;
    height: 18px;
    margin-left: 18px;
}

.actions img
{
    align-self: center;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}