* 
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.professionalPannel
{
    width: fit-content;
    text-align: left;
    color: #000;
}

.professionalPannel {
    position: relative; /* Ensure the panel is the positioning context */
}

.professionalPannel .professionalInfo
{
    display: flex;
    background-color: #013372;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}

.professionalPannel .professionalInfo p
{
    align-self: center;
    font-weight: bold;
    font-size: 22px;
    margin-left: 10px;
    margin-right: 40px;
}


.professionalInfo .professionalPfp {
    height: 50px;
    width: 50px;
    border-radius: 50%; 
    object-fit: cover;
    align-self: center;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 10px;
}

.professionalpersonalinfo img
{
    height: 25px;
    max-width: 25px;
    margin-right: 10px;
}

.professionalDetails
{
    background-color: #DDDDDD;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 30px;
}


.appointmentDate,.appointmentLocation
{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}


.appointmentLocation img
{
    margin-right: 17px;
}

.appointmentTime
{
    display: flex;
    margin-bottom: 10px;
}

.appointmentOptions
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.appointmentOptions button
{
    display: block;
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
    background-color: #013372;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.moreButton{
    background-color: #00AEEF !important;
}

.moreButton:hover{
    background-color: #0abafa !important;
}

.buttons:hover{
    background-color: rgb(8, 56, 116) !important;
}

.cancelButtonProfessional{
    background-color: #B5001E !important;
}

.cancelButtonProfessional:hover{
    background-color: #b9132efd !important;
}

.confirmButton {
    background-color: #013372 !important; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.confirmButton:hover {
    background-color: rgb(8, 56, 116) !important; 
}

.cancelButton {
    background-color: #B5001E !important; 
    color: white; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.cancelButton:hover {
    background-color: #b9132efd !important; 
}

.mesParent
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
}

.rejmesParent
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: bold;
    color:red;
}