* 
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.breadCrumbs
{
    display: flex;
    align-items: left;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 50px;
}

.breadCrumbs p
{
    margin-right: 5px;
}

.breadCrumbs p.previousCrumb
{
    color: #737373;
    cursor: pointer;
}