.dropdownMenue select
{
    border: none;
    border-radius: 5px;
    color: #737373;
    background-color: #fff;
    height: 40px;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
}

.dropdownMenue option
{
    border: none;
    border-radius: 5px;
    color: #737373;
    background-color: #fff;
    height: 25px;
    padding: 10px;
}