.message-container {
display: flex;
align-items: center;
background-color: #e6e6e6;
border-radius: 8px;
padding: 10px;
min-width: 300px;
width: 100%;
max-width: 600px;
position: relative;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar-circle {
width: 50px;
height: 50px;
margin-right: 10px;
}

.message-content {
flex-grow: 1;
display: flex;
flex-direction: column;
}

.message-header .name {
font-weight: bold;
font-size: 14px;
color: #333;
}

.message-text {
margin-top: 5px;
}

.message-text button {
background: none;
border: none;
color: #013372;
cursor: pointer;
font-size: 12px;
padding: 0;
}

.message-text button:hover {
text-decoration: underline;
}

.message-footer .date {
font-size: 10px;
position: absolute;
right: 10px;
bottom: 4px;
color: #013372;
}

.close-icon {
font-size: 12px;
color: #013372;
cursor: pointer;
position: absolute;
top: 10px;
right: 10px;
transition: color 0.2s;
}

.close-icon:hover {
color: #B5001E;
}
