* 
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.navBar
{   
    background-color: #013372;
    position: relative;
}

.navBar nav
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.navBar nav .logo
{
    height: 50px;
    cursor: pointer;
    padding: 10px;
}

.navBar nav ul
{
    flex: 1;
    text-align: right;
    font-size: 17px;
}

.navBar nav ul li 
{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.navBar nav ul li a
{
    text-decoration: none; /* Για να μην εμφανίζονται υπογραμμισμένα. */
    align-items: center;
    color: #fff;
}

.navBar nav img.pfp
{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-right: 5px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
}

.profile
{
    cursor: pointer;
}

.switchRole
{
    display: flex;
    color: #000;
    background-color: #00aeef;
    font-weight: bold;
    font-size: 18px;
}

.switchRole p
{
    padding: 8px;
    margin-right: 15px;
}

.switchRole button
{
    margin: 5px;
    font-size: 18px;
    padding: 5px;
    background-color: #013372;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.switchRole button a
{
    color: #fff;
    text-decoration: none
}

.arrow
{
    height: 8px;
    margin-left: 5px;
}