.sorting
{
    display: block;
    margin-top: 10px;
    margin-left: 60px;
    margin-inline-end: 87.2%;
}

.sorting .sort button
{
    font-size: 14px;
    padding: 5px;
    background-color: #013372;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 120px;
}

.sorting .dropdown-pannel button
{
    background-color: transparent;
    color: #fff;
    padding: 12px;
    border: none;
    display: block;
    text-align: left;
    float: none;
    width: 120px;
    cursor: pointer;
}

.sorting .dropdown-pannel
{
    position: absolute;
    display: none;
    background-color: #013372;
    z-index: 1;
    width: 120px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sorting:hover .dropdown-pannel
{
    display: block;
}

.sorting .dropdown-pannel button:hover
{
    background-color: #00aeef;
    color: #000;
    border-radius: 5px;
    
}

.sorting .arrow
{
    height: 8px;
    margin-left: 5px;
}

.sorting:hover .sort button
{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}