.HistoryParent1Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.card1 {
width: 80%;
background-color: #ddd;
border: 1px solid #f8f9fa;
border-radius: 5px;
margin: 20px 0;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header1 {
background-color: #ddd;
padding: 10px;
}

.nav-tabs1 {
display: flex;
justify-content: space-around;
margin: 0;
padding: 0;
list-style: none;
border-bottom: 2px solid #ccc;
}

.nav-item1 {
flex: 1;
text-align: center;
}

.nav-link1 {
display: block;
padding: 10px 15px;
background-color: #eee;
color: #333;
text-decoration: none;
border-radius: 4px 4px 0 0;
transition: background-color 0.3s;
}

.nav-link1.active {
background-color: #fff;
color: #000;
font-weight: bold;
border-bottom: 2px solid transparent;
}

.nav-link1.active:hover {
background-color: #fff;
}

.nav-link1:hover {
background-color: #ddd;
}

.card-body1 {
padding: 20px;
}
