* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

body {
    overflow-x: hidden; /* Απενεργοποιεί το οριζόντιο scroll */
}

.NotificationsParentContainer
{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

