*
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.seperatorBar
{
    height: 2px;
    background-color: #999999;
    width: stretch;
    border-radius: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.aboutMe
{
    background-color: #fff;
    color: #373737;
    border-color: #737373;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    width: stretch;
    height: 100px;
    text-wrap: wrap;
}

.personInfo
{
    background-color: #ddd;
    color: #373737;
    margin: 160px;
    margin-top: 60px;
    padding: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.personInfo h1
{
    margin-bottom: 50px;
    text-align: center;
}

.personInfo .infoBox
{
    border: none;
    border-radius: 5px;
    color: #737373;
    background-color: #fff;
    height: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: stretch;
}

.personInfo .infoType
{
    font-weight: bold;
    font-size: 20px;
}

.languages
{
    display: flex;
}

.message
{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #737373;
}

.occupationType
{
    margin-top: 50px;
}

.occupationType input
{
    margin-top: 20px;
    height: 20px;
    width: 20px;
}

.occupationType label
{
    font-size: 18px;
    font-weight: bold;
    color: #555555;
}

.schedule
{
    display: flex;
    justify-content: center;
}

h3
{
    margin-top: 50px;
    margin-bottom: 20px;
}

table
{
    margin-top: 10px;
    margin-bottom: 40px;
}

.options
{
    display: flex;
    justify-content: center;
    gap: 100px;
}

button
{
    font-size: 20px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #013372;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
}

button a
{
    text-decoration: none;
    color: #fff;
}

.number3
{
    background-color: #013372;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    aspect-ratio: 1 / 1;
    align-content: center;
    text-align: center;
}