*
{
    margin: 0;
    padding: 0;
    font-family: arial;
}

.personInfo
{
    background-color: #ddd;
    color: #373737;
    margin: 160px;
    margin-top: 60px;
    padding: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.personInfo h1
{
    margin-bottom: 50px;
    text-align: center;
}

.personInfo .infoBox
{
    border: none;
    border-radius: 5px;
    color: #737373;
    background-color: #fff;
    height: 25px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: stretch;
}

.personInfo .infoType
{
    font-weight: bold;
    font-size: 20px;
}

.message
{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #737373;
}

h3
{
    margin-top: 50px;
}

.healthVerifications
{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.healthVerifications p
{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 25%;
}

.healthVerifications .valid
{
    background-color: #fff;
    color: #373737;
}

.healthVerifications .invalid
{
    background-color: #b5001e;
    color: #fff;
}

.options
{
    display: flex;
    justify-content: center;
    gap: 100px;
}

button
{
    font-size: 20px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #013372;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
}

button a
{
    text-decoration: none;
    color: #fff;
}

.number2
{
    background-color: #013372;
    color: #fff;
    border-radius: 50%;
    height: 60px;
    aspect-ratio: 1 / 1;
    align-content: center;
    text-align: center;
}