.healthVerificationsProfessionalCreateProfile
{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.healthVerificationsProfessionalCreateProfile p
{
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: 25%;
}

.healthVerificationsProfessionalCreateProfile .valid
{
    background-color: #fff;
    color: #373737;
}

.healthVerificationsProfessionalCreateProfile .invalid
{
    background-color: #b5001e;
    color: #fff;
}